body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.input-group {
  display: flex;
  gap: 5px;
}

#task-input {
  flex: 1;
  padding: 10px;
}

#add-btn {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#task-list li {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  box-sizing: border-box;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  margin-left: 5px;
  cursor: pointer;
}
